<section class="thirteen columns">
    <h1>Achievements</h1>
    <article>
           <p>
               <ol>
                   <h4><li>Member of SIIIT Microsoft Club Committee (Des & Org. Team).</li></h4>
                   <b><li> Batch Representative (SLLIT) – 2019.</li></b>
                   <b><li> Member of the SLIIT Mozilla Campus Club Sub-Committee (Cyber-Security Team).</li></b>
                   <b><li> Certified Presenting Microsoft Student Ambassadors Introduction to Machine Learning on Azure.</li></b>
                   <b><li> Competed and Won Clouds Skills Challenge 2021 Conducted by Microsoft.</li></b>
                   <b><li> Participated in Algothon 2020 Contest.</li></b>
        </ol>
                   
           
        <article>
</section>
