<section class="thirteen columns">
    <h1>Achievements</h1>
    <article>
           <p>
               <ol>
                   <li> Member of SIIIT Microsoft Club Committee (Des & Org. Team).</li>
                   <li> Batch Representative (SLLIT) – 2019.</li>
                   <li> Member of the SLIIT Mozilla Campus Club Sub-Committee (Cyber-Security Team).</li>
                   <li> Certified Presenting Microsoft Student Ambassadors Introduction to Machine Learning on Azure.</li>
                   <li> Competed and Won Clouds Skills Challenge 2021 Conducted by Microsoft.</li>
                   <li> Participated in Algothon 2020 Contest.</li>
        </ol>
                   
           
        <article>
</section>
