<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Currently Undergoing B.SC in Cyber Security Degree Programme </h1>
            <span>Sri Lanka Institute Of Information Technology (SLIIT)</span><br>
            <address>Malabe, Sri Lanka</address><time>2020 to Present</time></span>
        </header>
        <p>
        </p>
    </article>
    <article>
        <header>
            <h1>G.C.E (Advanced Level)</h1>
            <span>St.Joseph's College - Colombo 10</span><br>
            <span><address>Colombo, Sri lanka</address><time>2017 to 2019</time></span>
             </header>
        <p>
        </p>
    </article>
        <article>
        <header>
        <h1>G.C.E (Ordinary Level)</h1>
            <span>St.Joseph's College - Colombo 10</span><br>
            <span><address>Colombo, Sri lanka</address><time>2017 to 2019</time></span>
          </header>
        <p>
        </p>
    </article>
</section>
