<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
        <header>
            
        </header>
        <p>I’m 20 years old self-motivated, well organized person and an enthusiastic person. Ability to work autonomously and as a Team player. Ability to learn and master new skills quickly and thoroughly. Adaptable to change and responds to challenges with confidence. Able to successfully work with a diverse set of groups, very tactful and courteous with wide initiatives. </p>
    </article>
   
</section>
