<section class="thirteen columns">
    <h1>Other Certifications</h1>
    <article>
        <header>
            <h1>Certified as a Responsive Web Designer in FreeCodeCamp.org.</h1>
            <span><address>FreeCodeCamp.Org</address></span>
        </header>
        <p>
            
        </p>
    </article>
    <article>
        <header>
            <h1>Certified in Microsoft Azure Fundamentals</h1>
            <span><address>Microsoft</address></span>
        </header>
        <p>
            
        </p>
    </article>
     <article>
        <header>
            <h1>Certified as a Security Enginner at Cybrary.</h1>
            <span><address>Cybrary</address></span>
        </header>
        <p>
            
        </p>
    </article>
     <article>
        <header>
            <h1>Certified as a Responsive Web Designer in FreeCodeCamp.org.</h1>
            <span><address>FreeCodeCamp.Org</address></span>
        </header>
        <p>
            
        </p>
    </article>
     <article>
        <header>
            <h1>Certified Fundamentals of Digital Marketing in Google Digital Garage</h1>
            <span><address>Google Digital Garage</address></span>
        </header>
        <p>
            
        </p>
    </article>
    <article>
        <header>
            <h1>Certified in AWS Security fundamentals</h1>
            <span><address>Amazon Web Services</address></span>
        </header>
        <p>
            
        </p>
    </article>
</section>
