<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Computational & Programming Skills</h1>
        </header>
        <p>
            
            <em>HTML / CSS/ JS</em><br>
            <em>Adobe Photoshop / Illustrator / Lightroom</em><br>
            <em>PHP</em><br>
            <em>Mysql</em><br>
            <em>Microsoft Office / Open Office</em><br>
            <em>Arduino</em><br>
            <em>Python</em><br>
            <em>C / C++</em><br>
        </p>
    </article>
        <article>
        <header>
            <h1>Soft Skills</h1>
        </header>
        <p>
            
            <em>Leadership</em><br>
            <em>Decision Making</em><br>
            <em>Organizing</em><br>
            </p>
    </article>
     <article>
        <header>
            <h1>Language Skills</h1>
        </header>
        <p>
            
            <em>English</em><br>
            <em>Tamil</em><br>
            <em>Sinhala</em><br>
            </p>
    </article>
</section>
